<div class="engine">
  New Route!!

  {{hello-world class="routable-hello-world"}}

  <button {{action 'goAway'}} class="trigger-transition-to">Go Away!</button>
  <button {{action 'goAwayViaIntermediate'}} class="trigger-intermediate-transition-to">Go Away Temporary!</button>
  <button {{action 'goAwayViaController'}} class="trigger-transition-to-route">Go Away via Controller!</button>
  <button {{action 'goAwayViaURL'}} class="trigger-transition-to-url">Go Away via URL!</button>
</div>
