<h3 class="post-title">{{model.title}}</h3>

<p class="author">{{model.user.name}}</p>

<p class="language">{{lang}}</p>

<p>
  {{#link-to "post.comments" 1 class="routable-post-comments-link"}}Comments{{/link-to}}
  {{#link-to "post.likes" 1 class="routable-post-likes-link"}}Likes{{/link-to}}
</p>

{{outlet}}

{{#link-to-external "home" class="routable-post-home-link"}}Go home{{/link-to-external}}
{{#link-to "index" class="routable-post-blog-home-link"}}Go to blog home{{/link-to}}

{{#link-to (query-params lang="Japanese") class="routable-post-jp-link"}}Go to Japanese version{{/link-to}}
<button {{action "goToChineseVersion"}} class="routable-post-ch-link">Go to Chinese version</button>
