<h3 class="post-title">{{model.title}}</h3>

<p class="author">{{model.user.name}}</p>

<p class="language">{{lang}}</p>

<p>
  {{#link-to "post.comments" 1 class="routable-post-comments-link"}}Comments{{/link-to}}
  {{#link-to "post.likes" 1 class="routable-post-likes-link"}}Likes{{/link-to}}
  {{#link-to "post.diggs" 1 class="routable-post-diggs-link"}}Diggs{{/link-to}}
</p>

{{outlet}}

{{#link-to-external "home" class="routable-post-home-link"}}Go home{{/link-to-external}}
{{#link-to "index" class="routable-post-blog-home-link"}}Go to blog home{{/link-to}}
{{#link-to "application" class="routable-post-blog-home-link-app"}}Also goes to blog home{{/link-to}}

{{#link-to (query-params lang="Japanese") class="routable-post-jp-link"}}Go to Japanese version{{/link-to}}
<button {{action "goToChineseVersion"}} class="routable-post-ch-link">Go to Chinese version</button>
<button {{action "transitionToHome"}} class="routable-post-transition-to-home-button {{if transitionedToExternal 'transitioned-to-external'}}">
    Go home programmatically
</button>
<button {{action "replaceWithHome"}} class="routable-post-replace-with-home-button {{if replacedWithExternal 'replaced-with-external'}}">
    Also goes home programmatically
</button>
